td {
    height: 30px;
    width: 30px;
}

.border-top {
    border-top: 1px solid black;
}
.border-bottom {
    border-bottom: 1px solid black;
}
.border-left {
    border-left: 1px solid black;   
}
.border-right {
    border-right: 1px solid black;
}


.bg-blue {
    background-color: lightblue !important;
}
.bg-yellow {
    background-color: yellow !important;
}
.bg-green {
    background-color: lightgreen !important;
}
.bg-red {
    background-color: red !important;
}
.bg-finish {
    background-color: gray;
}