<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <script src="js/module.js"></script>
        <script src="js/app.js"></script>
        <script src="js/algo/genetique.js"></script>
        <script src="js/controller/mainController.js"></script>
    </head>
    <body ng-app="app">
        <div class="row" ng-controller="mainController">
            
            <div class="col-xs-12">
                <button ng-click="start()">START</button>
            </div>

            <div class="col-xs-12">
                <table>
                    <tr ng-repeat="line in map.lineList">
                        <td ng-repeat="case in line" ng-class="getCellClassName(case)"></td>
                    </tr>
                </table>
            </div>

        </div>
    </body>
</html>